page-contacto {
.scroll-content{
		background: #000 !important;
		opacity: 1;
	}		
	p{
		color: white !important;
		font-size: 2rem !important;
		font-weight:bold !important;
	}
	.card-background-page {
		ion-card {
			position: relative;
			text-align: center;
		}

		.card-title {
			position: absolute;
			top: 0%;
			font-size: 2.0em;
			width: 100%;
			font-weight: bold;
			color: #fff;
			height:100%;
			display:flex;
			justify-content: center;
			align-items:center;
		}
		.cuadro-verde {
			position: absolute;
			font-size: 1.5em;
			width: 100%;
			background:rgba(3, 130, 3, 0.6);
			height: 100%;
			top:0%;
			display:flex;
			justify-content:center;
			align-items:center;
		}
		.card-md{
			width:100%;
			margin:0;
			margin-bottom: 5px;
		}
	}
}
